table {
    border-collapse: separate;
    border-spacing: 5px;
    
    border: 1px solid #000;
 }


 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid rebeccapurple;
 }
th {background: blue}

td {background: red}

a {background: yellow}

img{
margin: auto;
display: block;
width: 600px;
height: 600px;
border: 10px solid green;
}