
body{
margin: 0%;
font-family: Verdana;
}

header{
    background: #1d4a96;
    color: white;
border: 1px solid #1d4a96;
}
table {

    
    border: 15px solid #1d4a96;
    
background-color:  green;
transition-property: border;
transition-duration: 5s;
}

td, th{
padding: 5px 10px;
}

main{

    padding: 1em 2em;
}
@media ( max-width: 30em ){ /*30 x 16px = 480px*/


table tr {
display: flex;



}

}
table {
    border-collapse: separate;
    border-spacing: 5px;
    
    border: 1px solid #1d4a96;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

