{% extends 'social/layout.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONSULTA</title>

</head>

<style>
  table {
    border-collapse: separate;
    border-spacing: 2px;
    flex-wrap: wrap;

  }



  th,
  td {
    width: 2%;
    text-align: left;
    vertical-align: top;
    min-width: 1px;
    margin-bottom: 1px;
  }

  th {
    background: #fafafa;
  }

  td {
    background: #fafafa;
  }



  img {
    margin: auto;
    display: block;
    width: 6px;
    height: 1px;
  }

  body {
    background: white;
  }
  .prueba {
            padding: 1 10px 3px 3px;
            border: 1.8px solid black;
            background: #f5ebf5;
        }

</style>


<body>
  <form class="form-register">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="info">
      <center> <a class="prueba" href="{% url 'feed' %}">REGRESAR</a> </center>

      <center>
        <h1 style="background-color: #fafafa;"> ASISTENCIA</h1>
      </center>
      <nav>


      </nav>

    </div>

    <div class="elementos">
      <!-- campos a llenar -->
      <div class="elementosForm">
        <font size="5" face="Arial black">
          <p>
            <center><label class="etiquetaForm">DUDAS</label></center>
            <input class="controllers" type="hidden" name="nom" id="nomField" placeholder="nombre" autofocus required>
          </p>
        </font>
        <font size="5" face="Arial black">
          <p>
            <center><label class="etiquetaForm">N. DE CLIENTE</label></center>
            <input class="controllers" type="text" name="nom" id="nomField" placeholder="nombre" autofocus required>
          </p>
        </font> <font size="5" face="Arial black">
          <p>
            <center><label class="etiquetaForm">DESCRIPCION</label></center>
            <input class="controllers" type="text" name="nom" id="nomField" placeholder="nombre" autofocus required>
          </p>
          <center><button class="buttons" type="submit" onclick="datos()" style="background: #c6b1c9;"> Enviar </button>
          </center>
        </font> <font size="5" face="Arial black">
          <p>
            <center><label class="etiquetaForm">QUEJAS</label></center>
            <input class="controllers" type="hidden" name="nom" id="nomField" placeholder="nombre" autofocus required>
          </p>
        </font> <font size="5" face="Arial black">
          <p>
            <center><label class="etiquetaForm">N. DE CLIENTE</label></center>
            <input class="controllers" type="text" name="nom" id="nomField" placeholder="nombre" autofocus required>
          </p>
        </font> <font size="5" face="Arial black">
          <p>
            <center><label class="etiquetaForm">DESCRIPCION</label></center>
            <input class="controllers" type="text" name="nom" id="nomField" placeholder="nombre" autofocus required>
          </p>
          <center><button class="buttons" type="submit" onclick="datos()" style="background: #c6b1c9;"> Enviar </button>
          </center><font size="5" face="Arial black">
          <p>
            <center><label class="etiquetaForm">CONTRATACION</label></center>
            <input class="controllers" type="hidden" name="nom" id="nomField" placeholder="nombre" autofocus required>
          </p>
        </font>  <font size="5" face="Arial black">
          <p>
            <center><label class="etiquetaForm">N. DE CLIENTE</label></center>
            <input class="controllers" type="text" name="nom" id="nomField" placeholder="nombre" autofocus required>
          </p>
        </font> <font size="5" face="Arial black">
          <p>
            <center><label class="etiquetaForm">DESCRIPCION</label></center>
            <input class="controllers" type="text" name="nom" id="nomField" placeholder="nombre" autofocus required>
          </p>
          

      </div>
      <!-- fin campos a llenar -->



      <!-- <input class="buttons" type="submit" value="Contactanos"> -->
      <font size="5" face="Arial black">

        <center><button class="buttons" type="submit" onclick="datos()" style="background: #c6b1c9;"> Enviar </button>
        </center>
      </font>

    </div>


  </form>

  </div>
  <script>
    function datos() {
      let nombre = String(nomField.value).trim();

      if (nombre.length === 0) {
        Swal.fire({
          title: 'Error!',
          text: 'DATOS REQUERIDOS',
          icon: 'error',
          confirmButtonText: 'OK',
          timer: 2000

        });

      } else {
        $.ajax({
          url: "{% url 'ema' %}",
          type: "POST",
          data: {

            'nombre': $('#nomField').val(),
            'apellidos': $('#apField').val(),
            'fecha': $('#fecField').val(),
            'asunto': $('#asunField').val(),
            'correo': $('#emaiField').val(),
            'comentarios': $('#comenField').val(),

            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          success: function (data) {
            console.log(data)
            console.log("Success");
            window.location.href = "{% url 'ema' %}";


          },

          error: function () {
            alert('Hubo algún error al realizar la llamada AJAX!');
          }
        });



      }


    }








  </script>
</body>
<br><br><br><br><br>
</html>
{% endblock %}
