{% extends 'social/layout.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONSULTA TIENDA</title>

</head>

<style>
  table {
    border-collapse: separate;
    border-spacing: 2px;
    flex-wrap: wrap;

  }



  th,
  td {
    width: 2%;
    text-align: left;
    vertical-align: top;
    min-width: 1px;
    margin-bottom: 1px;
  }

  th {
    background: #fafafa;
  }

  td {
    background: #fafafa;
  }



  img {
    margin: auto;
    display: block;
    width: 6px;
    height: 1px;
  }

  body {
    background: white;
  }

</style>


<body>
  <main style="background-color: white;  height: 70em;">


    <div class="info">
      <center>
        <h1 class="titt"> CONSULTA DE DATOS PERSONAL</h1>
      </center>
      <center>
        <nav class="second-nav"></nav>
      </center>
      <center><a class="feed" href="{% url 'feed' %}">REGRESAR</a></center>

      </nav>

    </div>




    <center>
      <font size="2" face="times roman">
    </center>

    <center>
      <table class="table table-bordered" width="6px" height="6px" alt="" style="background-color: black;">
        <thead>
          <tr style="border: 99px solid black;">
            <font size="7" face="arial ">
              <center>
                <th>id</th>
              </center>
              <center>
                <th>nombre</th>
              </center>

              <center>
                <th>apellido</th>
              </center>

              <center>
                <th>correo</th>
              </center>

              <center>
                <th>numero</th>
              </center>

              <center>
                <th>pago</th>
              </center>

              <center>
                <th>total</td>
              </center>

              <font>
          </tr>
        </thead>


        <center>
          <tbody>
            {% if me %}
            {% for ejemplo in me %}
            <tr>

              <center>
                <td>{{ejemplo.id}}</td>
              </center>
              <center>
                <td>{{ejemplo.nombre}}</td>
              </center>
              <center>
                <td>{{ejemplo.apellido}}</td>
              </center>
              <center>
                <td>{{ejemplo.correo}}</td>
              </center>
              <center>
                <td>{{ejemplo.numero}}</td>
              </center>
              <center>
                <td>{{ejemplo.pago}}</td>
              </center>
              <center>
                <td>{{ejemplo.total}}</td>
              </center>
              



          </tbody>
        </center>
        {% endfor %}

        {% else %}

        <h1>NO HAY REGISTROS</h1>

        {% endif %}
  </main>
  </table>
  </center>


</body>
</center>

</html>
{% endblock %}