{% extends 'social/layout.html' %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONSULTA PRODUCTOS</title>

</head>

<style>
  table {
    border-collapse: separate;
    border-spacing: 2px;
    flex-wrap: wrap;

  }



  th,
  td {
    width: 2%;
    text-align: left;
    vertical-align: top;
    min-width: 1px;
    margin-bottom: 1px;
  }

  th {
    background: #fafafa;
  }

  td {
    background: #fafafa;
  }



  img {
    margin: auto;
    display: block;
    width: 6px;
    height: 1px;
  }

  body {
    background: white;
  }

</style>


<body>
  <main style="background-color: white;  height: 70em;">


    <div class="info">
      <center>
        <h1 class="titt"> CONSULTA DE DATOS PERSONAL</h1>
      </center>
      <center>
        <nav class="second-nav"></nav>
      </center>
      <center><a class="feed" href="{% url 'feed' %}">REGRESAR</a></center>

      </nav>

    </div>




    <center>
      <font size="2" face="times roman">
    </center>

    <center>
      <table class="table table-bordered" width="6px" height="6px" alt="" style="background-color: black;">
        <thead>
          <tr style="border: 99px solid black;">
            <font size="7" face="arial ">
              <center>
                <th>nombre</th>
              </center>
              <center>
                <th>precio</th>
              </center>

              <center>
                <th>descripcion</th>
              </center>

              <center>
                <th>nuevo</th>
              </center>

              <center>
                <th>marca</th>
              </center>

              <center>
                <th>fecha</th>
              </center>

              <center>
                <th>imagen</td>
              </center>

              <font>
          </tr>
        </thead>


        <center>
          <tbody>

            {% for pruebassss in l %}
            {% if pruebassss.user.username == user.username %}
            <tr>
              <center>
                <td>{{pruebassss.nombre}}</td>
              </center>
              <center>
                <td>{{pruebassss.precio}}</td>
              </center>
              <center>
                <td>{{pruebassss.descripcion}}</td>
              </center>
              <center>
                <td>{{pruebassss.nuevo}}</td>
              </center>
              <center>
                <td>{{pruebassss.marca}}</td>
              </center>
              <center>
                <td>{{pruebassss.fecha_fabricacion}}</td>
              </center>
              <center>
                <td>{{pruebassss.imagen}}</td>
              </center>
            </tr>
            {% else %}
            <center><thead>
              <td>No hay datos</td>
              <td>No hay datos</td>
              <td>No hay datos</td>
              <td>No hay datos</td>
              <td>No hay datos</td>
              <td>No hay datos</td>
              <td>No hay datos</td>
            </thead>
            </center>
            {% endif %}

            {% endfor %}
              
          </tbody>
        </center>
  </main>
  </table>
  </center>


</body>
</center>

</html>
{% endblock %}