{% extends 'social/layout.html' %}
{% load static%}

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Document</title>
</head>
<style>
  form {
    width: 120%;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    border: 0em;
    background: #fafafa;
  }

  body {
    background: white;
  }

  input {

    -moz-border-radius: 9px;
    -webkit-border-radius: 3000px;
    border-radius: 3000px;
    border: 1px solid #000000;
    padding: 0 4px 0 4px;
  }
</style>

<body>
  <center>
    <h2>QUIENES SOMOS</h2>
</center>
<center>
    <p> Flash systems es una compañía dedicada al campo de las redes y sistemas que proporciona apoyo de año nivel en
        servicio al cliente, comunicaciones especializadas avanzadas.
    </p>
</center>
<br>
<center>
    <h2>VISION</h2>
</center>
<center>
    <p>Somos una empresa vinculada al mercado de las redes que ofrece soluciones innovadoras e integrales, que
        reconocen
        a los altos estandáres de calidad y excelencia del servicio.
    </p>
</center>
<br>
<center>
    <h2>MISION</h2>
</center>
<center>
    <p>Proveer soluciones tecnológicas en servicios de instalación, configuración, implementación y mantenimiento de
        redes, garantizando la confiabilidad y la calidad en los servicios que prestamos a nuestros clientes.
    </p>
</center>
<br>
<center>
    <h2>VALORES</h2>
</center>
<center>
    <p>Compromiso, integridad, ética, satisfacción al cliente, innovaciòn y responsabilidad.
    </p>
</center>
<br>
</body>
<br>
<br>
<br>
<br>



</html>
{% endblock %}