<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav.main {
            display: flex;
            width: 100%;
            margin: auto;
        }

        nav.main ul {
            display: flex;
            flex: 1 1 40rem;
            justify-content: space-around;
            align-items: center;
            list-style: none;
        }
    </style>
</head>
<nav class="main">
    <h1 id="logo"></h1>
    <ul>



        <li><a href="../flashsystems/index.html">INICIO</a></li>

        <li><a href="../flashsystems/filosofia.html">FILOSOFIA</a></li>

        <li><a href="../flashsystems/asistencia.html">ASISTENCIA</a></li>

        <li><a href="../flashsystems/directorio.html">DIRECTORIO</a></li>

        <li><a href="../flashsystems/contacto.html">CONTACTO</a></li>


    </ul>
</nav>
</header>

<body>

</body>

</html>