{% extends 'social/layout.html' %}
{% block content%}
{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="sweetalert2.all.min.js"></script>
  <script src="sweetalert2.min.js"></script>
  <link rel="stylesheet" href="sweetalert2.min.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <title>Document</title>
</head>
<style>
  form {
    width: 120%;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    border: 0em;
    background: #fafafa;
  }

  body {
    background: white;
  }

  input {

    -moz-border-radius: 9px;
    -webkit-border-radius: 3000px;
    border-radius: 3000px;
    border: 1px solid #000000;
    padding: 0 4px 0 4px;
  }
.prueba{
  background-color: #199319;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  border: none;}
</style>

<body>
  <form class="register">
    {% csrf_token %}


    <div class="info">
      <h1 class="titt"> DUDAS</h1>
      <nav class="info">
        <center><a class="prueba" href="{% url 'feed' %}">REGRESAR</a></center>
      </nav>
  
    </div>

    <div class="elementos">
      <!-- campos a llenar -->
      <div class="elementosForm">
       
        <font size="5" face="Arial black">
          <p>
            <label class="etiquetaForm">nombre del cliente</label>
            <input class="controllers" type="text" name="nombre" id="nombreField" placeholder="numero de la propieda"
              autofocus required>
          </p>
        </font>
        <font size="5" face="Arial black">
          <p>
            <label class="etiquetaForm">descripcion</label>
            <input class="controllers" type="text" name="descripcion" id="descripcionField" placeholder="tipo de propiedad" autofocus
              required>
          </p>
        </font>

      </div>


      <!-- <input class="buttons" type="submit" value="Contactanos"> -->
      <center><button class="buttons" type="submit" onclick="datos()" style="background: #c6b1c9;"> Enviar </button>


    </div>


  </form>
  </div>

  <script>
    function datos() {
      let nombre = String(nombreField.value).trim();
      if (nombre.length === 0) {
        Swal.fire({
          title: 'Error!',
          text: 'DATOS REQUERIDOS',
          icon: 'error',
          confirmButtonText: 'OK',
          timer: 2000
        });
      } else {
        $.ajax({
          url: "{% url 'dudas' %}",
          type: "POST",
          data: {

            'nombre': $('#nombreField').val(),
            'descripcion': $('#descripcionField').val(),
           
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          success: function (data) {
            console.log(data)
            console.log("Success");
            window.location.href = "{% url 'dudas' %}";


          },

          error: function () {
            alert('Hubo algún error al realizar la llamada AJAX!');
          }
        });



      }






    }

  </script>

 
</body>
<br>
<br>
<br>
<br>



</html>
{% endblock %}