{% extends 'social/layout.html' %}
{% block content%}
{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <title>Document</title>
</head>
<style>
  body {

    background: white;
  }



  button {
    background-color: white;
  }

  h1 {
    background-color: white;
  }

  label {
    border-bottom: center;
  }

  form {
    width: 120%;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    border: 0em;
    background: #fafafa;
  }

  .prueba {
    padding: 1 10px 3px 3px;
    border: 1.8px solid black;
    background: #f5ebf5;
  }
</style>

<body>

    <div class="info">
      <center> <a class="prueba" href="{% url 'feed' %}">REGRESAR</a> </center>

      <center>
        <h1 style="background-color: #fafafa;"> DIRECTORIO</h1>
      </center>
    </div>


  </div>
<center>
  <p>    EQUIPO DE TRABAJO 
</p>
<p>SOMOS UN EQUIPO DE TRABAJO QUE BRINDA SOLUCIONES A NUESTROS CLIENTES 
</p>

 <p>NUESTRAS AREAS DE TRABAJO SON</p>

 <p>SERVICIOS DE TELEFONIA</p>

 <p>CONSULTORÍA</p>

 <p>VENTAS</p>
<p>SERVICIO TÉCNICO
</p>
<p>TELÉFONOS</p>

<p>5577237277
</p>

<p>5577237278
</p>
<p>CORREO ELECTRÓNICO
</p>
<p>flashsystems@gmail.com
</p>
</center>
</body>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

</html>
{% endblock %}