<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav.main {
            display: flex;
            width: 100%;
            margin: auto;
        }

        nav.main ul {
            display: flex;
            flex: 1 1 40rem;
            justify-content: space-around;
            align-items: center;
            list-style: none;
        }
</style>
</head>
<nav class="main">
    <h1 id="logo"></h1>
    <ul>



        <li><a href="../flashsystems/index.html">INICIO</a></li>

        <li><a href="../flashsystems/filosofia.html">FILOSOFIA</a></li>

        <li><a href="../flashsystems/asistencia.html">ASISTENCIA</a></li>

        <li><a href="../flashsystems/directorio.html">DIRECTORIO</a></li>

        <li><a href="../flashsystems/contacto.html">CONTACTO</a></li>


    </ul>
</nav>
</header>

<body> 
    <font size ="9" face ="arial black">
    <div >
    <center>
        <h2>QUIENES SOMOS</h2>
    </center>
    <center>
        <p> Flashsystems es una compañía dedicada al campo de las redes y sistemas que proporciona apoyo de año nivel en
            servicio al cliente, comunicaciones especializadas avanzadas.
        </p>
    </center>

    <center>
        <h2>VISION</h2>
    </center>
    <center>
        <p>Somos una empresa vinculada al mercado de las redes que ofrece soluciones innovadoras e integrales, que
            reconocen
            a los altos estandáres de calidad y excelencia del servicio.
        </p>
    </center>

    <center>
        <h2>MISION</h2>
    </center>
    <center>
        <p>Proveer soluciones tecnológicas en servicios de instalación, configuración, implementación y mantenimiento de
            redes, garantizando la confiabilidad y la calidad en los servicios que prestamos a nuestros clientes.
        </p>
    </center>

    <center>
        <h2>VALORES</h2>
    </center>
    <center>
        <p>Compromiso, integridad, ética, satisfacción al cliente, innovaciòn y responsabilidad.
        </p>
    </center>
</div>
</font>
</body>

</html>