{% extends 'social/layout.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
  .prueba {
    background-color: #b2ffff;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-align: center;
  }
 
    </style>
</head>

<body>
    <main style="background-color: white;  height: 41em;">
        <div class="info">
            <center>
                <h1 class="titt"> INICIO</h1>
            </center>
            <center>
                <nav class="second-nav"></nav>
            </center>
            <center><a class="prueba" href="{% url 'feed' %}">REGRESAR</a></center>

            </nav>

        </div>
        <br>

        <br>
        <center><img src="{% static 'img/1.png' %}" height="298" width="1340"></center>
</body>

</html>
{% endblock %}