{% extends 'social/layout.html' %}

{% block content %}

<form class="form" method="post" width="100px" height="100px" alt="">
	<style>
	 
 
	 body {
		background: white;
	 }
	 form{
		width: 120%;
		max-width: 800px;
		margin: 0 auto;
		align-items: center;
		border: 0em;
		background: #fafafa;
	  }
		hr {
			background: white;
			border: white;
		}
	</style>
	{% csrf_token %}
	{{ form.as_p }}

	<button type="submit" id="submit">Login</button>
	<hr>

	<hr>
	<br>
	<br>
	<br>
	<hr>
	<hr>
	<hr>
	<br>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>

</form>

{% endblock %}