{% extends 'social/layout.html' %}
{% block content%}
{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="sweetalert2.all.min.js"></script>
  <script src="sweetalert2.min.js"></script>
  <link rel="stylesheet" href="sweetalert2.min.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <title>Document</title>
</head>
<style>
  form {
    width: 120%;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    border: 0em;
    background: #fafafa;
  }

  body {
    background: white;
  }

  input {

    -moz-border-radius: 9px;
    -webkit-border-radius: 3000px;
    border-radius: 3000px;
    border: 1px solid #000000;
    padding: 0 4px 0 4px;
  }

  .prueba {
    background-color: #b2ffff;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-align: center;
  }
</style>

<body>
  <form class="register">
    {% csrf_token %}


    <div class="info">
        <center><a class="prueba" href="{% url 'feed' %}">REGRESAR</a></center>

      <center><h1 class="titt"> QUEJAS</h1></center>
      <nav class="info">
      </nav>

    </div>

    <div class="elementos">
      <!-- campos a llenar -->
      <div class="elementosForm">

        <font size="5" face="Arial black">
          <p>
            <label class="etiquetaForm">nombre del cliente</label>
            <input class="controllers" type="text" name="nombre2" id="nombre2Field" placeholder="nombre del cliente"
              autofocus required>
          </p>
        </font>
        <font size="5" face="Arial black">
          <p>
            <label class="etiquetaForm">descripcion</label>
            <input class="controllers" type="text" name="descripcion2" id="descripcion2Field"
              placeholder="tipo de propiedad" autofocus required>
          </p>
        </font>

      </div>


      <!-- <input class="buttons" type="submit" value="Contactanos"> -->
      <center><button class="buttons" type="submit" onclick="das()" style="background: #b2ffff; color: #000000;"> Enviar </button>


    </div>


  </form>
  </div>

  <script>
    function das() {
      let nombre = String(nombre2Field.value).trim();
      if (nombre.length === 0) {
        Swal.fire({
          title: 'Error!',
          text: 'DATOS REQUERIDOS',
          icon: 'error',
          confirmButtonText: 'OK',
          timer: 2000
        });
      } else {
        $.ajax({
          url: "{% url 'quejas' %}",
          type: "POST",
          data: {

            'nombre2': $('#nombre2Field').val(),
            'descripcion2': $('#descripcion2Field').val(),

            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          success: function (data) {
            console.log(data)
            console.log("Success");
            window.location.href = "{% url 'quejas' %}";


          },

          error: function () {
            alert('Hubo algún error al realizar la llamada AJAX!');
          }
        });



      }






    }

  </script>


</body>
<br>
<br>
<br>
<br>



</html>
{% endblock %}