{% extends 'social/layout.html' %}
{% load static%}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    <style>
        body {
            background-color: white;
        }





    
        .prueba {
            padding: 1 10px 3px 3px;
            border: 1.8px solid black;
            background: #f5ebf5;
        }
    </style>

</head>

<body>
    <form class="form-register">
        {% csrf_token %}
        {{ form.as_p }}
    
        <div class="info">
          <center> <a class="prueba" href="{% url 'feed' %}">REGRESAR</a> </center>
    <br><br>

          <center>
            <h1 > Contactanos</h1>
          </center>
          <nav>
    
    
          </nav>
    
        </div>
    
        <div class="elementos">
          <!-- campos a llenar -->
          <div class="elementosForm">
            <font size="5" face="Arial black">
              <p>
                <center><label class="etiquetaForm">nombre</label></center>
                <input class="controllers" type="text" name="nombre" id="nombreField" placeholder="nombre" autofocus required>
              </p>
            </font>
            <font size="5" face="Arial black">
              <p>
                <center><label class="etiquetaForm">email</label></center>
                <input class="controllers" type="email" name="email" id="emailField" placeholder="email" autofocus required>
              </p>
            </font>
    
            <font size="5" face="Arial black">
              <p>
                <center> <label class="etiquetaForm">asunto</label></center>
                <input class="controllers" type="text" name="asunto" id="asuntoField" placeholder="asunto" autofocus required>
              </p>
            </font>
    
          
    
          </div>
          <!-- fin campos a llenar -->
    
    
    
          <!-- <input class="buttons" type="submit" value="Contactanos"> -->
          <font size="5" face="Arial black">
    
            <center><button class="buttons" type="submit" onclick="datos()" style="background: #c6b1c9;"> Enviar </button>
            </center>
          </font>
        </div>
    
    
      </form>
    
      </div>
      <script>
        function datos() {
          let nombre = String(nomField.value).trim();
    
          if (nombre.length === 0) {
            Swal.fire({
              title: 'Error!',
              text: 'DATOS REQUERIDOS',
              icon: 'error',
              confirmButtonText: 'OK',
              timer: 2000
    
            });
    
          } else {
            $.ajax({
              url: "{% url 'ema' %}",
              type: "POST",
              data: {
    
                'nombre': $('#nombreField').val(),
                'email': $('#apField').val(),
                'asunto': $('#asuntoField').val(),
               
                csrfmiddlewaretoken: '{{ csrf_token }}',
              },
              success: function (data) {
                console.log(data)
                console.log("Success");
                window.location.href = "{% url 'ema' %}";
    
    
              },
    
              error: function () {
                alert('Hubo algún error al realizar la llamada AJAX!');
              }
            });
    
    
    
          }
    
    
        }
    
    
    
    
    
    
    
    
      </script>
    </body>
    
</body>


</html>
{% endblock %}